# EMQX Configuration
EMQX_BROKER=mqtt://emqx:1883
EMQX_TOPIC=data/sensor/#
EMQX_USERNAME=
EMQX_PASSWORD=

# Solana Configuration
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS
KEYPAIR_PATH=/app/keypair.json
